<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ActivityDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-img [src]="(activityDetail | async).image"></ion-img> -->
  <ion-img [src]="activityDetail.image"></ion-img>

  <ion-card no-margin >
    <ion-card-header>
      <ion-card-title>
        {{activityDetail.name}}
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      {{activityDetail.description}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list lines="none">

      <ion-item>
        <ion-label>Duration</ion-label>
        <ion-chip
          color="primary">
          {{activityDetail.duration}}
        </ion-chip>
      </ion-item>
      
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-chip
          color="primary">
          {{activityDetail.category}}</ion-chip>
      </ion-item>

      <ion-item>
        <ion-label>Popularity</ion-label>
        <ion-chip
          color="primary">
          {{activityDetail.popularity}}</ion-chip>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
